.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: relative;
  border-radius: 10px;
}

.card__title {
  font-family: "Inter", sans-serif;
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__image {
  display: flex;
  height: 282px;
  width: 282px;
  cursor: pointer;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__like-button {
  background-image: url("../image/like-active.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 18px;
  width: 21px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.card__like-button_active {
  background-image: url("../image/like-inactive.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 18px;
  width: 21px;
  border: none;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__delete-button {
  background: url(../image/card-images/delete-icon.svg);
  width: 18px;
  height: 18px;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 90%;
  bottom: 90%;
  transition: 0.5s;
}

.card__delete-button:hover {
  opacity: 0.6;
}
