.card__item {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
.card__list {}
.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card__description {}
.card__like-button {
  background: transparent url(../images/like-inactive.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}
/* .card__like-button:hover { 
  opacity: 0.5;
} */